@namespace MineSweeper.Components.Atoms

<NavLink href="@Href"
         Match="@Match"
         class="@GetNavItemClasses()"
         @onclick="OnClick"
         @attributes="AdditionalAttributes">
    <Stack Direction="Stack.StackDirection.Row" Align="Stack.StackAlign.Center" Gap="Stack.StackGap.Small">
        @if (!string.IsNullOrWhiteSpace(Icon))
        {
            <span class="text-lg">@Icon</span>
        }
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <span class="font-medium">@Label</span>
        }
        @ChildContent
    </Stack>
</NavLink>